name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5.0.0
      - uses: borales/actions-yarn@v5.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v5.0.0
        with:
          cmd: test
